<div class="rounded-md shadow-lg flex gap-3">
    <app-sidebar></app-sidebar>
    <div
        class="bg-white w-full flex flex-col justify-center gap-1 items-center  border-dashed rounded-lg max-h-[50rem] md:mx-20 my-10">
        <div class=" border-gray-300 border-dashed flex justify-between gap-2 w-full p-5">
            <div class="h-full w-full flex gap-4 justify-between">
                <input type="text" placeholder="Filter Users"
                    class="rounded-md w-full px-5 h-[50px] shadow-md bg-gray-100" (keyup)="filterPhotos($event)">

            </div>

        </div>


        <section class=" w-full flex flex-wrap gap-5 justify-center overflow-y-scroll h-svh pt-3">
            @for(photo of getFilterPhotos();track photo.id) {
            <app-card [photo]="photo"> </app-card>
            }
        </section>
    </div>


</div>