<app-sidebar></app-sidebar>

<div class="p-4 sm:ml-64  px-12">
    <div
        class=" flex flex-col justify-center gap-1 items-center border-2  border-[#5a473a] border-dashed rounded-lg max-h-[55rem] ">
        <div class="border-b-2 w-full p-4 mb-4 border-gray-300  border-dashed  flex justify-between">
            <input type="text" placeholder="filter" class="p-2 rounded-md w-full" (keyup)="filterPhotos($event)">
           
        </div>


        <section class=" w-full flex flex-wrap gap-5 justify-center overflow-y-scroll h-svh pt-3">
            @for(photo of getFilterPhotos();track photo.id) {
            <app-card [photo]="photo"> </app-card>
            }
        </section>
    </div>


</div>