<div class="w-full">
    <div class=" border-gray-300 border-dashed flex justify-between gap-2">
        <div class="h-full w-full flex gap-4 justify-between">
            <input type="text" placeholder="Filter Users" class="rounded-md w-full px-5 h-[50px] shadow-md bg-gray-100"
                (keyup)="updateFilter($event)">
            <button (click)="onOpenModal()" type="button"
                class="min-w-[200px] min-h-[50px] h-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Add User
            </button>
        </div>

    </div>
    <ngx-datatable class="material w-full" [rows]="tempData.length === 0 ? data : tempData"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
        [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false" (select)="onSelect($event)"
        [selected]="selected" [selectionType]="SelectionType.single">

        <ngx-datatable-column name="Name" prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="w-fit px-3">{{ row.name }}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Username" prop="username">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="w-fit px-3">{{ row.username }}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email" prop="email">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="w-fit px-3">{{ row.email }}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Phone" prop="phone">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="w-fit px-3">{{ row.phone }}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Street" prop="address.street">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="w-fit px-3">{{ row.address?.street }}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Company Name" prop="company.name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="w-fit px-3">{{ row.company?.name }}</div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>